<!DOCTYPE html>
<html lang="en" ng-app="SmartydoPendingApp">
<head>
    <meta charset="UTF-8">
    <title>SmartyDo - Pending Task</title>

    <script type="text/javascript" src="/libs/jquery/dist/jquery.js"></script>
    <!-- bootstrap js -->
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="/libs/angular/angular.js"></script>

    <script src="smartydopending.js"></script>

</head>
<body ng-controller="SmartydoPendingCtrl as smartydoPendingCtrl">
    <h1>Pending Task  - Table
    </h1>

    <div class="table-responsive">
    <table class="table">
        {{smartydoPendingCtrl.data}}
    </table>
    </div>


</body>
</html>